* {
    color: green;
    font-size: 20px;
    line-height: 25px;
}
p {
    font-size: 10px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
ol {
    list-style: none;
}
ol li {

}
p.well {
    font-size: 24px
}
p.well strong {
    font-weight: 600;
}
#container {
    width: 960px;
    margin: auto 0
}

.box {
    padding: 20px;
    margin: 10px;
    width: 240px;
}
#container .box {
    float: left;
    padding-bottom: 15px;
}
#container > .box {
    float: left;
    padding-bottom: 15px;
}
h2 ~ p {
    margin-bottom: 20px;
}
p + p {
    text-indent: 1.5em;
    margin-bottom: 0;
}

a:hover {
    color: red;
}
.container::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: #141414;
}

input[type="text"] {
    background-color: #444;
    width: 200px;
}
